* {
    
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

main {
    margin: auto;
    text-align: center;
}

.hide {
    display: none;
}

.timer {
    color: white;
    display: flex;
    justify-content: flex-end;
    
}

#time {
    color: black;
    font-size: large;
}

.choices {
    display: block;
    justify-content: center;
    
}

button {
    background-color: lightgoldenrodyellow;
    color: black;
    border-radius: 6px;
}

.scores {
    font-weight: bold;
    color: white;
    text-decoration: none;
}
